h1, h2, h3, h4, h5, h6, p {
  font-family: K2D, sans-serif;
}

.error {
  color: red;
}

.success {
  color: #13b756;
}

.error, .success {
  font-size: 14px;
  text-align: center;
}

.noneEl {
  display: none !important;
}

.activeEl {
  display: flex !important;
}

.activeProduct {
  box-shadow: 0 0 15px 3px rgba(191, 20, 143, 0.8);
}

@font-face {
  font-family: OpenSans;
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: K2D;
  src: url("/assets/fonts/K2D-Bold.ttf");
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: OpenSans;
  background-color: #f6ddde;
  font-size: 14pt;
}

hr {
  margin: 10px 0;
  border: solid 1px black;
}

a {
  transition: color 0.3s ease;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #BF148F;
}

img {
  max-width: 100%;
  object-fit: cover;
}

[v-cloak] {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: K2D, sans-serif;
}

.error {
  color: red;
}

.success {
  color: #13b756;
}

.error, .success {
  font-size: 14px;
  text-align: center;
}

.noneEl {
  display: none !important;
}

.activeEl {
  display: flex !important;
}

.activeProduct {
  box-shadow: 0 0 15px 3px rgba(191, 20, 143, 0.8);
}

.authorization {
  margin-top: 70px;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  align-items: center;
  gap: 25px;
}
@media (width < 1120px) {
  .authorization {
    width: 95%;
  }
}
.authorization > h1 {
  color: #614748;
  font-size: 38px;
  font-family: K2D, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}
@media (width < 780px) {
  .authorization > h1 {
    font-size: 25px;
  }
  .authorization > h1 > h1 {
    font-size: 25px;
  }
  .authorization > h1 > p {
    font-size: 15px;
  }
}
.authorization > form {
  max-width: 350px;
  width: 99%;
  background-color: #FFCDCF;
  padding: 25px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.authorization > form label {
  color: #614748;
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}
.authorization > form button {
  border-radius: 15px;
  text-align: center;
  background-color: #BF148F;
  padding: 7px 15px;
  color: white;
  transition: background-color 0.5s ease;
  min-width: 150px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: auto;
  padding: 8px 15px;
}
.authorization > form button:hover {
  background-color: #8c0c68;
}
.authorization > form input {
  background-color: #ECB3B6;
  padding: 8px 12px;
  border-radius: 12px;
  outline: none;
  border: none;
}
.authorization > form input::placeholder {
  color: #88696A;
}
.authorization > form input:focus {
  box-shadow: 0 0 0 1px #c42b31;
}
.authorization > form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.authorization > form > div a {
  transition: color 0.3s ease;
  color: #FB253E;
}
.authorization > form > div a:hover {
  color: #ff6071;
}
.authorization > form > div > p {
  font-size: 15px;
  text-align: center;
}

/*# sourceMappingURL=authorization.css.map */
