@import "default";
@import "variable";
.app {
  @include backgroundBody;
}
.profile {
  @include widthMain;
  margin-top: 20px;
  padding: 10px;
  align-items: center;
  gap: 25px;
  > h1 {
    @include h1;
    font-size: 28px;
    text-align: center;
  }
  > form {
    max-width: 450px;
    width: 99%;

    > p {
      text-align: center;
    }
    @include form;
    display: flex;
    flex-direction: column;
    gap: 15px;
    > div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    input {
      @include input;
    }
  }

  .order {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    > div {
      display: flex;
      background-color:  #FFCDCF;
      border-radius: 15px;
      img {
        min-width: 250px;
        max-height: 200px;
        background-color: white;
        padding: 15px;
        border-radius: 15px 0 0 15px;
      }
      > div {
        padding: 15px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        > div {
          display: flex;
          gap: 5px;
          justify-content: space-between;
          align-items: end;
          flex-wrap: wrap;
        }
        h1 {
          font-size: 20px;

        }
        > * {
          color: $colorH1;
          font-size: 15px;
        }
      }
    }
    @media (width < 600px) {
      > div {
        flex-direction: column;
      }
      
    }
  }
}