@import "../variable";
@import "../default";
.app {
  @include backgroundBody;
}
.admin {
  @include widthMain;
  gap: 10px;

  .add {
    background-color: $bgAdmin;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    > a {
      @include button;
    }
  }
  .products {

    @include modelAdmin;
    > div {
      h2 {
        font-size: 20px;
      }
      img {
        object-fit: contain;
        max-width: 80px;
      }
      > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .desc {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-left: -3px;
          > p {
            font-size: 12px;
            padding: 5px 15px;
            background-color: rgba(119, 119, 119, 0.1);
            border-radius: 15px;
          }
        }
        .price {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .title {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          > div {
            display: flex;
            gap: 20px;
            img {
              width: 25px;
            }
          }
          a, button {
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  .form {
    @include form;
    display: flex;
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    border: none;
    gap: 15px;
    > img {
      max-width: 200px;
    }
    input, select {
      @include input;
      height: 45px;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 5px;

    }
  }

  > .users {
    @include modelAdmin;
    > div {
      justify-content: space-between;
      align-items: center;
      position: relative;
      flex-wrap: wrap;
      gap: 15px;
      .users_form {
        position: absolute;
        content: "";
        display: flex;
        gap: 10px;
        right: -8px;
        top: -10px;
        > button {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
        > a , > button {
          width: 20px;
          height: 20px;
        }
      }
      p {
        font-family: Arial;
      }
    }

  }

  > .orders {
    @include modelAdmin;
    > div {
      @media (width < 750px) {
        flex-direction: column;
        > div {
          padding: 0 15px !important;
        }
      }
      padding: 0;
      position: relative;
      > div {
        padding: 20px 10px 0 0;
        width: 100%;
        > div {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
      >  img {
        max-height: 200px;
        background-color: white;
        padding: 15px;
      }
      .order_form {
        display: flex;
        gap: 10px;
        position: absolute;
        content: "";
        right: -8px;
        top: -16px;
        button {
          cursor: pointer;
          width: 35px;
          height: 35px;
          border: none;
          background-color: transparent;
        }
      }
    }

  }

  > .reviews {
    @include modelAdmin;
    > div {
      position: relative;
      flex-direction: column;
      gap: 5px;
      > div {

      justify-content: space-between;
        align-items: end;
        display: flex;
        width: 100%;
        h2 {
          font-size: 20px;
        }
        > div {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
      >  img {
        max-height: 200px;
        background-color: white;
        padding: 15px;
      }
      .review_form {
        position: absolute;
        content: "";
        right: -8px;
        top: -10px;
        button {
          cursor: pointer;
          width: 30px;
          height: 30px;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}